/* Reset e Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0a192f; /* Azul escuro */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title {
    font-size: 1.5rem; /* Tamanho da fonte reduzido */
    color: white; /* Cor do texto */
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
    font-weight: bold; /* Fonte em negrito */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 235, 101)); /* Gradiente de fundo */
    -webkit-background-clip: text; /* Clip para o texto */
    -webkit-text-fill-color: transparent; /* Preenchimento do texto transparente */
    padding: 5px; /* Espaçamento interno */
    border: 2px solid transparent; /* Borda transparente */
    border-radius: 5px; /* Bordas arredondadas */
    background-clip: text; /* Clip para o texto */
}



/* Container do Login */
.login-container {
    background-color: rgba(10, 25, 47, 0.9); /* Fundo quase preto com leve transparência */
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-image {
    width: 75%; /* Ajuste para caber bem */
    border-radius: 10px; /* Canto arredondado */
    margin-bottom: 1rem; /* Espaçamento abaixo da imagem */
}

.form-group {
    margin-bottom: 1rem;
    text-align: left; /* Alinhamento dos rótulos */
}

form input {
    width: 100%; /* Largura igual ao botão */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e2a47; /* Azul escuro */
    color: #ffffff;
}

button {
    background-color: #00a8e8; /* Azul claro */
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%; /* Largura igual */
}

button:hover {
    background-color: #0077b6; /* Azul mais escuro ao passar o mouse */
}

/* Mensagem de Erro */
.error-message {
    color: #ff4d4d; /* Vermelho para erro */
    margin-bottom: 1rem;
}
